@charset "UTF-8";
.container {
  width: 100%;
  text-align: center;
}

html {
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
}

body {
  color: #fff;
  width: 100vw;
  max-width: 100vw;
  background-color: #000;
  overflow-x: hidden;
}

main {
  border-bottom: 1px #fff solid;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  /* ハンバーガーメニュー */
  /* ハンバーガーの動き */
  /* ハンバーガーここまで */
}
header.show {
  opacity: 1;
  pointer-events: auto;
}
header a {
  font-size: 0.7rem;
  font-weight: 200;
  display: block;
  z-index: 5;
}
header .header-nav {
  position: fixed;
  z-index: 4;
  background-color: #000;
  width: 100vw;
  padding-top: 70px;
  top: -200px;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: top 0.6s, opacity 0.6s;
}
header .header-nav.active {
  top: 0px;
  opacity: 1;
}
header .header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-nav ul li {
  margin-bottom: 20px;
}
header .header-nav ul li a {
  font-size: 0.5rem;
}
header .hamburger_menu {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  z-index: 5;
}
header .hamburger {
  display: block;
  width: 30px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
}
header .hamburger span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  transition: top 0.4s, transform 0.4s, opacity 0.6s, color 0.4s, bottom 0.4s;
}
header .hamburger span:nth-child(1) {
  top: 13px;
}
header .hamburger span:nth-child(3) {
  bottom: 13px;
}
header .active span:nth-child(1) {
  top: 23px;
  transform: rotate(-45deg);
  background-color: white;
}
header .active span:nth-child(2) {
  opacity: 0;
}
header .active span:nth-child(3) {
  bottom: 26px;
  transform: rotate(45deg);
  background-color: white;
}

.side-nav {
  position: fixed;
  z-index: 1;
  right: -50px;
  width: 500px;
  bottom: 560px;
  transform: rotate(270deg);
  transform-origin: right bottom;
  transition: right 0.6s;
  display: flex;
}
.side-nav a {
  display: inline-block;
  font-size: 0.4rem;
  font-weight: 200;
  letter-spacing: 1px;
  border: 1px solid #fff;
  padding: 15px 30px;
}
.side-nav.show {
  right: 0;
}

.first-view {
  background-color: #000;
  height: 100vh;
  display: flex;
}
.first-view .image-box {
  display: flex;
}
.first-view .image-box .image-item {
  width: 33.3333333333vw;
}
.first-view .image-box .image-item img {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-first {
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 200;
  margin-top: 50px;
  opacity: 0;
  position: relative;
  top: 50px;
  transition: opacity 1s, top 1s;
}
.title-first.show {
  top: 0;
  opacity: 1;
}

.title-second {
  border-bottom: 1px #fff solid;
  font-size: 1.8rem;
  font-weight: 200;
  margin: 80px auto 0;
}

.information {
  opacity: 0;
  position: relative;
  top: 100px;
  transition: opacity 1s, top 1s;
}
.information.show {
  top: 0;
  opacity: 1;
}
.information p:nth-child(2) {
  margin-top: 30px;
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: 40px;
}
.information p:nth-child(3) {
  font-size: 0.5rem;
  font-weight: 200;
}
.information p:nth-child(4) {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 40px;
}
.information p:nth-child(5) {
  font-size: 0.6rem;
  font-weight: 200;
  margin-top: 40px;
}

.gallery {
  padding-top: 100px;
}
.gallery #js-gallery {
  opacity: 0;
  position: relative;
  top: 30px;
  transition: opacity 1s, top 1s;
}
.gallery #js-gallery.show {
  top: 0;
  opacity: 1;
}
.gallery .gallery-box {
  width: 50vw;
  margin-top: 50px;
}
.gallery .gallery-box .item-left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.gallery .gallery-box .item-left img {
  width: 48%;
}
.gallery .gallery-box .item-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.gallery .gallery-box .item-right img {
  width: 48%;
}
.gallery .gallery-box .gallery-item {
  opacity: 0;
  position: relative;
  top: 50px;
  transition: opacity 1.5s, top 2s;
}
.gallery .gallery-box .gallery-item.show {
  top: 0;
  opacity: 1;
}

.access {
  position: relative;
  z-index: 2;
  min-height: 100%;
  padding-top: 300px;
  margin-bottom: 300px;
}
.access .cover-img {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  transition: opacity 1s;
}
.access .cover-img img {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.access.back .cover-img {
  opacity: 1;
}
.access p:nth-child(3) {
  margin-top: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 40px;
}
.access p:nth-child(4) {
  font-size: 0.5rem;
  font-weight: 200;
  margin-top: 40px;
}
.access p:nth-child(5) {
  font-size: 0.5rem;
  font-weight: 200;
  margin-top: 40px;
}
.access .button-hover {
  width: 280px;
  border: 1px #fff solid;
  font-size: 0.5rem;
  font-weight: 200;
  padding: 15px 0;
  margin-top: 40px;
  transition: background-color 0.3s;
}
.access .button-hover:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contact {
  margin-bottom: 300px;
}
.contact .contact-button {
  position: relative;
  font-size: 0.5rem;
  font-weight: 200;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  width: 450px;
  padding: 30px 0;
  margin-top: 30px;
  transition: border-color 0.3s, color 0.3s;
}
.contact .contact-button::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 140px;
  height: 1px;
  top: 1.4rem;
  right: -30px;
  transition: right 0.3s, background-color 0.2s;
}
.contact .contact-button::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 15px;
  height: 1px;
  top: 1.4rem;
  right: -30px;
  transform: rotate(30deg);
  transform-origin: right;
  transition: right 0.3s, background-color 0.2s;
}
.contact .contact-button:hover::before, .contact .contact-button:hover::after {
  right: -40px;
  background-color: rgba(255, 255, 255, 0.7);
}
.contact .contact-button:hover {
  border-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

footer {
  padding: 70px 30px;
}
footer p {
  font-weight: 200;
  font-size: 0.4rem;
  margin-bottom: 30px;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
}
footer .footer-flex a {
  font-weight: 200;
  font-size: 0.4rem;
}/*# sourceMappingURL=style.css.map */